
<!DOCTYPE html>
<html ng-app="TestModule">

@{
    ViewData["Title"] = "DailyReportSummury";

    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>




    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <link href="~/css/site.css" rel="stylesheet" />

    <script src="~/js/angularjs/angular-routes.js"></script>
    <script src="~/js/angularjs/angular-resource.js"></script>
    <script src="~/js/angularjs/angular.min.js"></script>





    <script src="~/js/site.js"></script>
    <script src="https://rawgit.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-datepicker/2.1.19/angular-datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-datepicker/2.1.19/angular-datepicker.min.css" rel="stylesheet" type="text/css" />




    <script src="~/Scripts/Html2Pdf/jquery-2.1.3.js"></script>
    <script src="~/Scripts/Html2Pdf/jspdf.js"></script>
    <script src="~/Scripts/Html2Pdf/pdfFromHTML.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        var model = { user: "IDB" };
        var app = angular.module("TestModule", []);


        app.service('MyService', function ($http, $q) {
            this.Service = function (method, url1, data1) {
                var d = $q.defer();
                $http({
                    method: method,
                    url: url1,
                    data: data1,
                }).then(function successCallback(response) {
                    res = response.data;
                    d.resolve(res);
                }, function errorCallback(response) {
                    d.reject(response);
                });
                res = d.promise;
                return res;
            }
        });



        app.directive("datepicker", function () {

            function link(scope, element, attrs, controller) {
                // CALL THE "datepicker()" METHOD USING THE "element" OBJECT.
                element.datepicker({
                    onSelect: function (dt) {
                        scope.$apply(function () {
                            // UPDATE THE VIEW VALUE WITH THE SELECTED DATE.
                            controller.$setViewValue(dt);
                        });
                    },
                    dateFormat: "yy-mm-dd"      // SET THE FORMAT.
                });
            }

            return {
                require: 'ngModel',
                link: link
            };
        });




        app.controller("TestController", function ($scope, $http, MyService) {
            $scope.todos = [];
            $scope.getReport = function () {

                b = MyService.Service("GET", '/api/InvestigationDetailsApi/GetInvestigationByDate?d1=' + $scope.fromDate + "&d2=" + $scope.toDate, '')
                b.then(function (dt) {
                    $scope.todos = dt;
                    //alert(JSON.stringify(dt));
                    //alert($scope.todos.length);
                });



            };

            function openInNewTab() {
                window.open('PatientCopy.pdf', '_blank');
            }

            openInNewTab();//fail












            $scope.savePdfSample = function () {

                alert("PDF Download")
                var pdf = new jsPDF('p', 'pt', 'a4');
                var canvas = pdf.canvas;
                // canvas.height = 72 * 15;
                //canvas.width = 72 * 15;
                var html = $("#myModal").html();
                var options = {
                    pagesplit: true
                };
                html2pdf(html, pdf, function (pdf) {
                    pdf.save('PatientCopy.pdf');
                });
            }

        });


    </script>

</head>
<body ng-controller="TestController">
    <div>
        <div style="background-color:#003366;height:350px;color:white">
            <h2> &nbsp; &nbsp; &nbsp; &nbsp; Daily Report Summury</h2>
            <br />
            <br />

            <div class="row col-sm-7" style="height:15px">
                <div class="col-md-6">
                    <label class="col-md-5" style="text-align:right">From Date:</label>
                    <input class="col-md-6" style="background-color:seagreen;color:white;font-weight:bold" type="text" id="fromDate" datepicker placeholder="Select a Date" ng-model="fromDate" />


                </div>

                <div class="col-md-6">
                    <label class="col-md-4" style="text-align:right">To Date:</label>
                    <input class="col-md-7" style="background-color:seagreen;color:white;font-weight:bold" type="text" id="toDate" datepicker placeholder="Select a Date" ng-model="toDate" />
                    @*<input class="col-md-7" type="text" ng-model="toDate" />*@


                </div>
            </div>
            <br />
            <br />
            <div class="row col-sm-6" style="text-align:right">
                <input class="btn btn-info btn-sm" type="button" data-target="#myModal" data-toggle="modal" value="Get Report" ng-click="getReport()" />
            </div>

        </div>





        <!-- Modal Page -->

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <input type="button" style="text-align:left" value="Print" id="Print" ng-click="savePdfSample();openInNewTab()" class="btn btn-success btn-sm" ng-model="print" />
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 style="text-align:center">Bismiallah Hirrahmanir Rahim</h4>

                    </div>
                    <div class="modal-body">
                        <div class="container" style="text-align:left">

                            <h1>Daily Report : {{todos.length}}</h1>
                            <table style="width:65%" class="table table-bordered table-responsive table-condensed">
                                <tr style="background-color:#003366;color:white">
                                    <th style="width:15%">Voucher  No</th>
                                    <th>Sl No</th>
                                    <th>Date </th>
                                    <th>Test Group</th>
                                    <th>Test name</th>
                                    <th style="text-align:center;width:15%">Amount</th>


                                </tr>

                                <tr ng-repeat="a in todos">
                                    <td>{{a.VoucherNo}}</td>
                                    <td>{{a.SlNo}}</td>
                                    <td>{{a.Date}}</td>
                                    <td>{{a.TestGroup}}</td>
                                    <td>{{a.TestName}}</td>
                                    <td style="text-align:right">{{a.Amount}}</td>


                                </tr>



                            </table>

                        </div>




                    </div>


                </div>

            </div>

        </div>

    </div>

</body>
</html>




